---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference Paper</h2>

<div class="home-card">
  
<ul class="publication-list">
{% for post in site.publications reversed %}
  <li>
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}" target="_blank">{{ post.citation }}</a>
    {% else %}
      {{ post.citation }}
    {% endif %}
  </li>
{% endfor %}
</ul>

</div>



